/* Variable */
:root {
    --font-primary: "Open Sans", sans-serif;
    --clr-primary: #00204a;
    --clr-accent: #00bbf0;
    --clr-hover: #007fa4;
    --clr-text: #0c0c0c;
    --clr-white: #fff;
    --clr-grey: #f8f8f9;
    --linear-gradient: linear-gradient(to bottom, #002759, #002b64);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    color: var(--clr-text);
    line-height: 1.3;
}
.page-content {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.page-content::-webkit-scrollbar {
    display: none;
}
section {
    min-height: 100vh;
    scroll-snap-align: start;
}
a {
    text-decoration: none;
    transition: color 300ms linear;
}
a:hover {
    color: var(--clr-hover);
}
button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color 300ms linear;
}
input,
textarea {
    max-width: 100%;
    background-color: transparent;
    color: var(--clr-white);
    font-size: 1.2rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--clr-white);
    padding: 0.8rem 0.4rem;
}
img {
    width: 100%;
    height: auto;
}
@media (max-width: 991px) {
    img {
        max-width: 500px;
    }
}

.bg-color {
    background-color: var(--clr-primary);
}
.size-125 {
    font-size: 1.25rem;
}
.size-15 {
    font-size: 1.5rem;
}
.size-175 {
    font-size: 1.75rem;
}
.size-2 {
    font-size: 2rem;
}
.size-3 {
    font-size: 3rem;
}
.clr-white {
    color: var(--clr-white);
}
.font-uppercase {
    text-transform: uppercase;
}
.font-semibold {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}
@media (max-width: 991px) {
    .md-text-center {
        text-align: center;
    }
}
.clr-primary {
    color: var(--clr-accent);
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.gap-05 {
    gap: 0.5rem;
}
.gap-1 {
    gap: 1rem;
}
.row-gap-1 {
    row-gap: 1rem;
}
.row-gap-2 {
    row-gap: 2rem;
}
.flex-column {
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
@media (max-width: 991px) {
    .md-justify-content-center {
        justify-content: center;
    }
}
.align-items-center {
    align-items: center;
}
.flex .col {
    padding: 0 1rem;
}
@media (min-width: 991px) {
    .flex .col-25 {
        width: 25%;
    }
    .flex .col-33 {
        width: 33.333%;
    }
    .flex .col-50 {
        width: 50%;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .flex .col-25 {
        width: 50%;
    }
}
ul.no-style {
    margin: 0;
    padding: 0;
}
ul.no-style li {
    list-style: none;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-05 {
    margin-top: 0.5rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-05 {
    margin-bottom: 0.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pl-1 {
    padding-left: 1rem;
}
.container {
    max-width: clamp(540px, 80vw, 1170px);
    width: 100%;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    padding: 0 1.5rem;
}
.btn-primary {
    font-size: 1.2rem;
    color: var(--clr-white);
    background-color: var(--clr-accent);
    padding: 0.8rem 1rem;
    transition: background-color 300ms linear;
}
.btn-primary:hover {
    background-color: var(--clr-hover);
    color: var(--clr-white);
}
.section {
    padding: 4rem 0;
}
.box {
    border-radius: 6px;
    padding: 2rem;
}
.box-shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}
.box-bg-grey {
    background-color: var(--clr-grey);
}
.box-bg-accent {
    background: var(--linear-gradient);
}
.rounded {
    border-radius: 100%;
}
.border-white {
    border: 5px solid var(--clr-white);
}
.border-primary {
    border: 5px solid var(--clr-primary);
}

/* Custom css */
.header-primary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbar .navbar-list .navbar-item a {
    display: block;
    padding: 1rem 1.5rem;
}
.navbar .navbar-list .navbar-item .btn-search {
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
    color: var(--clr-white);
}
.navbar .navbar-list .navbar-item .btn-search:hover {
    color: var(--clr-hover);
}
@media (min-width: 991px) {
    .footer-primary .col {
        max-width: fit-content;
        width: 25%;
    }
}
@media (max-width: 991px) {
    .footer-primary .flex {
        row-gap: 3rem;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .footer-primary .col {
        width: 50%;
    }
}
.footer-primary .col h3 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}
.footer-primary .col .social-media a {
    font-size: 1.4rem;
}
.bg-hero {
    background-image: url(./../img/hero/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.hero-slider {
    padding-top: calc(4rem + 82px);
}
.icon {
    width: clamp(40px, 100%, 80px);
    height: clamp(40px, 100%, 80px);
}
.argument .icon {
    padding: 1rem;
    width: clamp(30px, 100%, 60px);
    height: clamp(30px, 100%, 60px);
}
.avatar {
    width: clamp(60px, 100%, 120px);
    height: clamp(60px, 100%, 120px);
    margin: 0 auto;
}
@media (max-width: 991px) {
    .testimonial:not(:last-child) {
        margin-bottom: 6rem;
    }
}
.testimonial .box {
    position: relative;
}
.testimonial .box .avatar {
    position: absolute;
    top: -60px;
}

@media (max-width: 991px) {
    .desktop {
        display: none;
    }
    .header-primary .navbar {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
        visibility: hidden;
        transition: all 500ms linear;
    }
    .header-primary .navbar[data-show="true"] {
        z-index: 10;
        visibility: visible;
    }
    .header-primary .navbar .navbar-list {
        position: relative;
        display: block;
        max-width: 260px;
        background-color: var(--clr-white);
        height: 100%;
        transform: translateX(-110%);
        transition: transform 300ms linear;
    }
    .header-primary .navbar[data-show="true"] .navbar-list {
        transform: translateX(0);
    }
    .header-primary .navbar .navbar-list .close-menu {
        position: absolute;
        top: 0;
        right: -1.5rem;
        font-size: 1.5rem;
    }
    .header-primary .navbar .navbar-list .navbar-item a,
    .header-primary .navbar .navbar-list .navbar-item button {
        color: var(--clr-text);
    }
    .header-primary .navbar .navbar-list .navbar-item button {
        padding: 1rem 1.5rem;
    }
}

@media (min-width: 991px) {
    .mobile {
        display: none;
    }
}